<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.internationalproject.petvet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".EditProfileActivity" android:noHistory="true"></activity>
        <activity android:name=".BaseActivity" />
        <activity android:name=".LoginScreen" android:noHistory="true" />
        <activity android:name=".SignupScreen" android:noHistory="true"/>
        <activity android:name=".MainMeasureActivity"  />
        <activity android:name=".EditPetActivity" android:noHistory="true" />
        <activity android:name=".MainPetActivity" android:parentActivityName=".MyPetsActivity"/>
        <activity android:name=".AddPetActivity" android:noHistory="true"/>
        <activity android:name=".MyPetsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
    </application>

</manifest>